@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Mulish:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mulish: 'Mulish', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0C0C0C;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton SC', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.25;
}
